pane size=1 borderless=true {
	plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
		 format_left   "{mode}#[] {tabs}"
		 format_center ""
		 format_right  "#[bg=#89b4fa,fg=#1e2030,bold]  #[bg=,fg=#89b4fa,bold] {session} "
		 format_space  ""
		 format_hide_on_overlength "true"
		 format_precedence "crl"

		 border_enabled  "false"
		 border_char     "─"
		 border_format   "#[fg=#6C7086]{char}"
		 border_position "top"

         mode_normal        "#[fg=#a6da95,bold]NORMAL"
         mode_locked        "#[fg=#6e738d,bold]LOCKED "
         mode_resize        "#[fg=#f38ba8,bold]RESIZE"
         mode_pane          "#[fg=#89b4fa,bold]PANE"
         mode_tab           "#[fg=#b4befe,bold]TAB"
         mode_scroll        "#[fg=#f9e2af,bold]SCROLL"
         mode_enter_search  "#[fg=#8aadf4,bold]ENT-SEARCH"
         mode_search        "#[fg=#8aadf4,bold]SEARCHARCH"
         mode_rename_tab    "#[fg=#b4befe,bold]RENAME-TAB"
         mode_rename_pane   "#[fg=#89b4fa,bold]RENAME-PANE"
         mode_session       "#[fg=#74c7ec,bold]SESSION"
         mode_move          "#[fg=#f5c2e7,bold]MOVE"
         mode_prompt        "#[fg=#8aadf4,bold]PROMPT"
         mode_tmux          "#[fg=#f5a97f,bold]TMUX"

		 // formatting for inactive tabs
		 tab_normal              "#[bg=#89b4fa,fg=#1e2030,bold] {index} #[fg=#89b4fa,bg=,bold] {name}{floating_indicator} "
		 tab_normal_fullscreen   "#[bg=#89b4fa,fg=#1e2030,bold] {index} #[fg=#89b4fa,bg=,bold] {name}{fullscreen_indicator} "
		 tab_normal_sync         "#[bg=#89b4fa,fg=#1e2030,bold] {index} #[fg=#89b4fa,bg=,bold] {name}{sync_indicator} "

		 // formatting for the current active tab
		 tab_active              "#[bg=#fab387,fg=#1e2030,bold] {index} #[bg=,fg=#fab387,bold] {name}{floating_indicator} "
		 tab_active_fullscreen   "#[bg=#fab387,fg=#1e2030,bold] {index} #[bg=,fg=#fab387,bold] {name}{fullscreen_indicator} "
		 tab_active_sync         "#[bg=#fab387,fg=#1e2030,bold] {index} #[bg=,fg=#fab387,bold] {name}{sync_indicator} "

		 // separator between the tabs
		 tab_separator           "#[] "

		 // indicators
		 tab_sync_indicator       " "
		 tab_fullscreen_indicator " 󰊓"
		 tab_floating_indicator   " 󰹙"

		 command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
		 command_git_branch_format      "#[fg=blue] {stdout} "
		 command_git_branch_interval    "10"
		 command_git_branch_rendermode  "static"

		 datetime        "#[fg=#6C7086,bold] {format} "
		 datetime_format "%A, %d %b %Y %H:%M"
		 datetime_timezone "Europe/London"
	}
}

