.notifications {
    .notification {
        background-color: $background;
        color: $onBackground;
        padding: 0.8em;
        border-radius: 1rem;

        .action {
            padding: 0.5rem 0.8rem;
            border-radius: 1rem;
            color: $onPrimaryContainer;
            background-color: $primaryContainer;

            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }

        .spacer {
            font-family: "JetBrainsMono Nerd Font";
            color: transparent;
        }

        .title {
            font-size: 16px;
            font-weight: 700;
        }
        .summary {
            font-size: 14px;
            font-weight: 700;
        }

        .icon {
            $size: 20px;
            background-size: $size;
            min-height: $size;
            min-width: $size;
            border-radius: 2px;
        }
        .image {
            $size: 75px;
            min-height: $size;
            min-width: $size;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8px;
        }
    }
}
