* {
{{ range .Colors }}  {{ .Name.Kebab }}: {{ .Color.HexRGB }};
{{ end -}}

    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;

	text-color: @primary;
}

configuration {
	font: "JetBrainsMono Nerd Font 10";

	drun {
	    display-name: " ";
	}

	dmenu {
	    display-name: ">> ";
	}

	run {
	    display-name: " ";
	}

	window {
	    display-name: " ";
	}

	timeout {
	    delay: 10;
	    action: "kb-cancel";
	}
}

window {
	transparency: "real";
	location: center;
	anchor: center;
	fullscreen: false;
	width: 750px;
	x-offset: 0px;
	y-offset: 0px;

	enabled: true;
	margin: 0px;
	padding: 0px;
	border: 2px solid;
	border-radius: 12px;
	border-color: @outline;
	background-color: @background;
	cursor: "default";
}

mainbox {
	enabled: true;
	spacing: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px solid;
	border-radius: 0px 0px 0px 0px;
	border-color: @outline;
	background-color: transparent;
	children: [ "inputbar", "listview"];
}

inputbar {
	enabled: true;
	spacing: 10px;
	margin: 0px;
	padding: 15px;
	border: 0px solid;
	border-radius: 0px;
	border-color: @outline;
	background-color: @primary-container;
	text-color: @on-primary-container;
	children: [ "prompt", "entry"];
}

prompt {
	enabled: true;
	background-color: inherit;
	text-color: inherit;
}
textbox-prompt-colon {
	enabled: true;
	expand: false;
	str: "::";
	background-color: inherit;
	text-color: inherit;
}
entry {
	enabled: true;
	background-color: inherit;
	text-color: inherit;
	cursor: text;
	placeholder: "Search...";
	placeholder-color: inherit;
}

/*****----- Listview -----*****/
listview {
	enabled: true;
	columns: 1;
	lines: 6;
	cycle: true;
	scrollbar: false;
	layout: vertical;
	reverse: false;
	fixed-height: true;
	fixed-columns: true;

	spacing: 5px;
	margin: 0px;
	padding: 0px;
	border: 0px solid;
	border-radius: 0px;
	border-color: @outline;
	background-color: transparent;
	text-color: @primary;
	cursor: "default";
}
scrollbar {
	handle-width: 5px;
	handle-color: @primary;
	border-radius: 0px;
	background-color: @surface-variant;
}

element {
	enabled: true;
	spacing: 10px;
	margin: 0px;
	padding: 2px;
	border: 0px solid;
	border-radius: 0px;
	border-color: @outline;
	background-color: transparent;
	text-color: @on-background;
	cursor: pointer;
	children: [ element-icon, element-text ];
}
element normal.normal {
	background-color: @background;
	text-color: @on-background;
}

element alternate.normal {
	background-color: @background;
	text-color: @on-background;
}

element selected.normal {
	background-color: @surface-variant;
	text-color: @on-surface-variant;
}
element-icon {
	background-color: transparent;
	text-color: inherit;
	size: 32px;
	cursor: inherit;
}
element-text {
	background-color: transparent;
	text-color: @on-background;
	highlight: inherit;
	cursor: inherit;
	vertical-align: 0.5;
	horizontal-align: 0;
}

error-message {
	padding: 15px;
	border: 2px solid;
	border-radius: 12px;
	border-color: @error;
	background-color: @error-container;
	text-color: @on-error-container;
}
textbox {
	background-color: @background;
	text-color: @primary;
	vertical-align: 0.5;
	horizontal-align: 0;
	highlight: none;
}

