.eww-bar {
    $buttonBorderRadius: 0.4rem;
    $singleSpacing: 8px;
    $spacing: 16px;

    background-color: $background;
    color: $primary;
    margin: 0.5rem;
    padding: 0.3rem 1rem;
    padding-left: 0.6rem;
    border-radius: 0.8rem;

    scale trough highlight {
        background-color: $primary;
        padding: 3px 0;
        color: $onPrimary;
        border-radius: 10px;
    }

    scale trough {
        all: unset;
        background-color: $surfaceContainerHighest;
        border-radius: 3rem;
        min-width: 3rem;
        margin-right: 7px;
    }

    .action-row {
        .wallpaper {
            padding-right: 4px;
        }
    }

    .power {
        all: unset;

        .revealer {
            padding-right: $spacing;
        }

        .lock-button,
        .reboot-button,
        .logout-button,
        .power-button,
        .sleep-button {
            font-weight: bolder;
            background-color: $background;
            color: $primary;
            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }

        .logout-button {
            padding-right: 1px;
        }
        .lock-button {
            padding-right: 2.5px;
        }
        .power-button {
            padding-right: 3.5px;
        }
        .reboot-button {
            padding-right: 2.5px;
        }
        .sleep-button {
            padding-right: 4px;
        }
    }

    .workspaces {
        .active-workspace {
            padding-right: 4px;
        }
        .workspace {
            border-radius: $buttonBorderRadius;
            padding: 0 0.5rem;
            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }
    }

    .player {
        .card {
            font-family: "Noto Font";
            .cover {
                border-radius: 1rem;
            }
            .info {
                font-size: 26px;
            }
            .title {
                font-weight: bolder;
            }

            .lyrics {
                font-family: "Noto Font";
                font-size: 10px;
            }
        }

        button {
            padding: 0.2rem 0.6rem;
            border-radius: $buttonBorderRadius;
            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }
        .shuffle,
        .shuffled {
            padding-right: 1rem;
        }

        .drop {
            padding-right: 0.8rem;
        }

        .seek,
        .seeking {
            padding-right: 0.9rem;
        }
        .shuffled,
        .play,
        .seeking {
            color: $onPrimary;
            background-color: $primary;
        }
    }

    .systray menu {
        background-color: $background;
        padding: 0.6rem;
        margin: 0.8rem;
        border-radius: 0.8rem;

        > menuitem {
            padding: 2px 5px;
            border-radius: 0.2rem;

            &:disabled label {
                color: gray;
            }

            &:hover {
                color: $onPrimary;
                background: $primary;
            }
        }

        separator {
            background-color: $outline;
            padding-top: 1px;
            margin: 2px 0;

            &:last-child {
                padding: unset;
            }
        }
    }
}
