.config/mpv/scripts/sponsorblock_shared/sponsorblock.txt
.mise.toml

# Colors
.config/eww/styles/colors.scss

# Nushell history
.config/nushell/history*
.config/nushell/plugin.*
.config/hypr/hyprpaper.conf
