.config/mpv/scripts/sponsorblock_shared/sponsorblock.txt
.config/kitty/wallpaper.png
.config/fastfetch/images
.config/zsh/**/*.zwc
.mise.toml

.config/waybar/colors.css
.config/wlogout/colors.css
.config/hypr/configs/colors.conf
.config/gtk-3.0/colors.css
.config/gtk-4.0/colors.css
