@import "styles/colors.scss";

* {
    all: unset;
}
@mixin window {
    border-radius: 1rem;
    background-color: $background;
    color: $primary;
}

tooltip {
    background-color: $background;
    padding: 1.5rem;
    margin: 0.8rem;
    border-radius: 0.8rem;
    border: 2px solid $outline;
}

@import "styles/music.scss";
@import "styles/power.scss";
@import "styles/workspace.scss";

@import "modules/bar/bar.scss";
@import "modules/dialog/confirm.scss";
@import "modules/wallpaper/wallpaper.scss";
