@import "colors.scss";

* {
    all: unset;
}

@mixin window {
    border-radius: 1rem;
    background-color: $background;
    color: $primary;
}

tooltip {
    background-color: $background;
    padding: 1.5rem;
    margin: 0.8rem;
    border-radius: 0.8rem;
    border: 2px solid $outline;
}

.close {
    button {
        background-color: $primary;
        color: $onPrimary;
        padding: 2.5px 5px;
        padding-right: 10px;
        margin-right: 0px;
        border-radius: 15px;
        &:hover {
            background-color: $error;
            color: $onError;
        }
    }
}

@import "styles/workspace.scss";
@import "modules/bar/bar.scss";
@import "modules/dialog/confirm.scss";
@import "modules/wallpaper/wallpaper.scss";
@import "modules/calendar/calendar.scss";
@import "modules/media/media.scss";
