layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                 format_left   "{mode}#[] {tabs}"
                 format_center ""
                 format_right  "#[fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold] #[bg=#363a4f,fg=#89b4fa,bold] {session} #[bg=#181926,fg=#363a4f,bold]"
                 format_space  ""
                 format_hide_on_overlength "true"
                 format_precedence "crl"

                 border_enabled  "false"
                 border_char     "─"
                 border_format   "#[fg=#6C7086]{char}"
                 border_position "top"

                 mode_normal        "#[bg=#a6da95,fg=#181926,bold] NORMAL#[fg=#a6da95]█"
                 mode_locked        "#[bg=#6e738d,fg=#181926,bold] LOCKED #[fg=#6e738d]█"
                 mode_resize        "#[bg=#f38ba8,fg=#181926,bold] RESIZE#[fg=#f38ba8]█"
                 mode_pane          "#[bg=#89b4fa,fg=#181926,bold] PANE#[fg=#89b4fa]█"
                 mode_tab           "#[bg=#b4befe,fg=#181926,bold] TAB#[fg=#b4befe]█"
                 mode_scroll        "#[bg=#f9e2af,fg=#181926,bold] SCROLL#[fg=#f9e2af]█"
                 mode_enter_search  "#[bg=#8aadf4,fg=#181926,bold] ENT-SEARCH#[fg=#8aadf4]█"
                 mode_search        "#[bg=#8aadf4,fg=#181926,bold] SEARCHARCH#[fg=#8aadf4]█"
                 mode_rename_tab    "#[bg=#b4befe,fg=#181926,bold] RENAME-TAB#[fg=#b4befe]█"
                 mode_rename_pane   "#[bg=#89b4fa,fg=#181926,bold] RENAME-PANE#[fg=#89b4fa]█"
                 mode_session       "#[bg=#74c7ec,fg=#181926,bold] SESSION#[fg=#74c7ec]█"
                 mode_move          "#[bg=#f5c2e7,fg=#181926,bold] MOVE#[fg=#f5c2e7]█"
                 mode_prompt        "#[bg=#8aadf4,fg=#181926,bold] PROMPT#[fg=#8aadf4]█"
                 mode_tmux          "#[bg=#f5a97f,fg=#181926,bold] TMUX#[fg=#f5a97f]█"

                 // formatting for inactive tabs
                 tab_normal              "#[fg=#89b4fa]█#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{floating_indicator}#[bg=#181926,fg=#363a4f,bold]█"
                 tab_normal_fullscreen   "#[fg=#89b4fa]█#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]█"
                 tab_normal_sync         "#[fg=#89b4fa]█#[bg=#89b4fa,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#89b4fa,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]█"

                 // formatting for the current active tab
                 tab_active              "#[fg=#fab387]█#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{floating_indicator}#[bg=#181926,fg=#363a4f,bold]█"
                 tab_active_fullscreen   "#[fg=#fab387]█#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]█"
                 tab_active_sync         "#[fg=#fab387]█#[bg=#fab387,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#fab387,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]█"

                 // separator between the tabs
                 tab_separator           "#[] "

                 // indicators
                 tab_sync_indicator       " "
                 tab_fullscreen_indicator " 󰊓"
                 tab_floating_indicator   " 󰹙"

                 command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                 command_git_branch_format      "#[fg=blue] {stdout} "
                 command_git_branch_interval    "10"
                 command_git_branch_rendermode  "static"

                 datetime        "#[fg=#6C7086,bold] {format} "
                 datetime_format "%A, %d %b %Y %H:%M"
                 datetime_timezone "Europe/London"
            }
        }
        children
    }
}
