@import "../../.cache/matugen/gtk-colors.css";

* {
    min-height: 0;
    min-width: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: 600;
}

window#waybar {
    transition-duration: 0.5s;
    background-color: transparent;
}

#workspaces button {
    min-height: 0;
    min-width: 0;
    border-radius: 6px;
    border: none;
    color: @on_background;
}

#workspaces button.active {
    background: @primary_container;
    color: @on_primary_container;
}

#workspaces button.urgent {
    background: @secondary_container;
    color: @on_secondary_container;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
    background: @primary_fixed;
    color: @on_primary_fixed;
}

#taskbar {
    min-height: 0;
    min-width: 0;
    padding: 0;
    border-radius: 6px;
    margin: 0.4rem 0.25rem;
    padding: 0 0.3em;
    background: @background;
}

#taskbar button {
    padding: 0 0.5em;
    box-shadow: none;
    border: none;
}

#taskbar button:hover {
    color: @on_primary_container;
    background: @primary_container;
}

#workspaces,
#clock,
#network,
#custom-docker,
#custom-weather,
#custom-chatgpt,
#custom-pipewire,
#custom-notification,
#custom-wallpaper,
#custom-power,
#custom-spotify,
#custom-lyrics,
#cpu,
#memory,
#tray,
#window {
    min-height: 0;
    min-width: 0;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    margin: 0.4rem 0.25rem;
    background-color: @background;
    color: @primary;
}

#workspaces {
    padding: 0;
}

/* #cpu { */
/*     margin-right: 0; */
/*     border-radius: 6px 0 0 6px; */
/* } */
/**/
/* #memory { */
/*     margin: 0.4rem 0; */
/*     border-radius: 0; */
/*     padding: 0.3rem 0; */
/* } */
/**/
/* #network { */
/*     margin-left: 0; */
/*     border-radius: 0 6px 6px 0; */
/* } */

#custom-lyrics {
    font-family: "Noto Font";
}

tooltip {
    border-radius: 15px;
    background-color: @background;
    border: 2px solid @on_primary;
}
