@import "colors.css";

* {
    min-height: 0;
    min-width: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: 600;
}

window#waybar {
    transition-duration: 0.5s;
    background-color: transparent;
}

#workspaces button {
    min-height: 0;
    min-width: 0;
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    color: @on_background;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @primary;
    background-color: @background;
}

#workspaces button.active {
    background-color: @background;
    color: @primary;
}

#workspaces button.urgent {
    background-color: @background;
    color: @on_serface_variant;
}

#taskbar {
    min-height: 0;
    min-width: 0;
    padding: 0;
    border-radius: 6px;
    margin: 0.4rem 0.25rem;
    background-color: @background;
}

#clock,
#network,
#custom-pipewire,
#custom-notification,
#custom-hyprpaper,
#custom-power,
#custom-spotify,
#custom-lyrics,
#cpu,
#memory,
#tray,
#window {
    min-height: 0;
    min-width: 0;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    margin: 0.4rem 0.25rem;
    background-color: @background;
    color: @primary;
}

#cpu {
    margin-right: 0;
    border-radius: 6px 0 0 6px;
}

#memory {
    margin: 0.4rem 0;
    border-radius: 0;
    padding: 0.3rem 0;
}

#network {
    margin-left: 0;
    border-radius: 0 6px 6px 0;
}

tooltip {
    border-radius: 15px;
    background-color: @background;
    border: 2px solid @on_primary;
}
