window {
    margin: 0px;
    background-color: #191724;
    border-radius: 20px;
}
#img {
    margin-right: 0.5em;
    padding: 0.5em;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: #e0def4;
    outline: none;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    padding-right: 15px;
    margin-bottom: 0px;
}

#inner-box {
    margin: 10px;
    color: #ebbcba;
    font-weight: bold;
    background-color: #191724;
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: 5px solid #403d52;
    border-radius: 20px;
    overflow: hidden;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#text:selected {
    color: #fff;
    margin: 0px 0px;
    border: none;
    border-radius: 20px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

#entry:selected {
    background-color: #403d52;
    margin: 0px 0px;
    border: none;
    outline: none;
    border-radius: 20px;
}
