@import "colors.scss";

.control-center {
    margin: 1em;
    padding: 0.4em;
    border: 0.2em solid $outline;
    color: $onBackground;
    background-color: $background;
}

.notification {
    padding: 0.4em;
    border: 0.08em solid $outline;
    color: $onBackground;
    background-color: $background;

    &-default-action {
        color: $onBackground;
        &:hover {
            background-color: $surface;
        }
    }
}

.close-button {
    border: none;
    color: $onPrimaryContainer;
    background-color: $primaryContainer;

    &:hover {
        color: $onError;
        background-color: $error;
    }
}

switch {
    border-radius: 2em;
    background-color: $background;
    border: 0.1em solid $outline;

    &:checked {
        background: $primaryContainer;
    }

    slider {
        box-shadow: none;
        border: none;
        background: $onPrimaryContainer;
    }
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    border-radius: 2em;
    box-shadow: none;
    color: $onPrimaryContainer;
    background: $primaryContainer;
}

button {
    border: none;
    border-radius: 2em;
    color: $onPrimaryContainer;
    background-color: $primaryContainer;
}
