@import "colors.css";

.control-center {
    margin: 1em;
    padding: 0.4em;
    border: 0.2em solid @outline;
    color: @on_background;
    background-color: @background;
}

.notification {
    padding: 0.4em;
    border: 0.08em solid @outline;
    color: @on_background;
    background-color: @background;
}

.notification-default-action {
    color: @on_background;
}

.notification-default-action:hover {
    background-color: @surface;
}

.close-button {
    border: none;
    color: @on_primary_container;
    background-color: @primary_container;
}

.close-button:hover {
    color: @on_error;
    background-color: @error;
}

switch {
    border-radius: 2em;
    background-color: @background;
    border: 0.1em solid @outline;
}

switch:checked {
    background: @primary_container;
}

switch slider {
    box-shadow: none;
    border: none;
    background: @on_primary_container;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    border-radius: 2em;
    box-shadow: none;
    color: @on_primary_container;
    background: @primary_container;
}

button {
    border: none;
    border-radius: 2em;
    color: @on_primary_container;
    background-color: @primary_container;
}
