
$background: #17130b;

$error: #ffb4ab;

$errorContainer: #93000a;

$inverseOnSurface: #353027;

$inversePrimary: #7b580c;

$inverseSurface: #ece1d4;

$onBackground: #ece1d4;

$onError: #690005;

$onErrorContainer: #ffdad6;

$onPrimary: #422d00;

$onPrimaryContainer: #ffdea8;

$onPrimaryFixed: #271900;

$onPrimaryFixedVariant: #5e4200;

$onSecondary: #3c2e15;

$onSecondaryContainer: #f7dfbb;

$onSecondaryFixed: #251a04;

$onSecondaryFixedVariant: #54442a;

$onSurface: #ece1d4;

$onSurfaceVariant: #d1c5b4;

$onTertiary: #203619;

$onTertiaryContainer: #cfebc1;

$onTertiaryFixed: #0b2006;

$onTertiaryFixedVariant: #364d2e;

$outline: #9a8f80;

$outlineVariant: #4e4639;

$primary: #eec06d;

$primaryContainer: #5e4200;

$primaryFixed: #ffdea8;

$primaryFixedDim: #eec06d;

$scrim: #000000;

$secondary: #dac3a0;

$secondaryContainer: #54442a;

$secondaryFixed: #f7dfbb;

$secondaryFixedDim: #dac3a0;

$shadow: #000000;

$sourceColor: #ecbe6b;

$surface: #17130b;

$surfaceBright: #3e382f;

$surfaceContainer: #241f17;

$surfaceContainerHigh: #2f2921;

$surfaceContainerHighest: #3a342b;

$surfaceContainerLow: #201b13;

$surfaceContainerLowest: #120e07;

$surfaceDim: #17130b;

$surfaceTint: #eec06d;

$surfaceVariant: #4e4639;

$tertiary: #b3cea6;

$tertiaryContainer: #364d2e;

$tertiaryFixed: #cfebc1;

$tertiaryFixedDim: #b3cea6;

