.power-button {
    font-size: 1rem;
    color: $onPrimaryContainer;
    background-color: $primaryContainer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
