.eww-media {
    $buttonRoundess: 0.4rem;
    $roundness: 1rem;

    background-color: $background;
    color: $onBackground;
    padding: 1rem;
    border-radius: $roundness;

    .cover {
        $size: 150px;
        background-size: $size;
        min-height: $size;
        min-width: $size;
        border-radius: calc($roundness - 4px);
    }

    .title {
        font-size: 18px;
    }

    .control {
        font-family: $nerd;

        margin: 0 1rem;

        button {
            padding: 0.2rem 0.6rem;
            border-radius: $buttonRoundess;
            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }

        .shuffled,
        .play {
            color: $onSecondary;
            background-color: $secondary;
        }
    }

    .line {
        .active {
            font-size: 1.5rem;
            font-weight: 800;
        }
        &:hover {
            font-weight: 800;
        }
    }

    scale trough highlight {
        background-color: $primary;
        padding: 0.4rem 0;
        color: $onPrimary;
        border-radius: 10px;
    }

    scale trough {
        all: unset;
        background-color: $surfaceContainerHighest;
        border-radius: 3rem;
        min-width: 3rem;
        margin-right: 7px;
    }
}
