.eww-media {
    $buttonBorderRadius: 0.4rem;

    background-color: $background;
    color: $onBackground;
    padding: 1rem;
    border-radius: 1rem;

    .title {
        font-size: 18px;
    }

    .control {
        margin: 0 1rem;

        button {
            padding: 0.2rem 0.6rem;
            border-radius: $buttonBorderRadius;
            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }
        .volume-slider {
            padding-left: 0.5rem;
        }

        slider {
            background-color: $primary;
            padding: 0.3rem;
        }

        .shuffle,
        .shuffled {
            padding-right: 1rem;
        }
        .open {
            padding-right: 0.8rem;
        }

        .shuffled,
        .play {
            color: $onPrimary;
            background-color: $primary;
        }
    }

    .line {
        .active {
            font-size: 1.5rem;
            font-weight: 800;
        }
        &:hover {
            font-weight: 800;
        }
    }

    slider {
        background-color: $primary;
        padding: 0.5rem;
    }

    scale trough highlight {
        background-color: $primary;
        padding: 3px 0;
        color: $onPrimary;
        border-radius: 10px;
    }

    scale trough {
        all: unset;
        background-color: $surfaceContainerHighest;
        border-radius: 3rem;
    }
}
