tooltip .weather-tooltip {
    font-family: "JetBrainsMono Nerd Font";
}
.eww-bar {
    background-color: $background;
    color: $primary;
    margin: 5px;
    margin-bottom: 0;
    padding: $paddingSm;
    border-radius: $borderRadiusLg;

    scale trough highlight {
        background-color: $primary;
        padding: $highlightPaddingY 0;
        color: $onPrimary;
        border-radius: $highlightBorderRadius;
    }

    scale trough {
        all: unset;
        background-color: $surfaceContainerHighest;
        border-radius: $borderRadiusFull;
        min-width: 3rem;
        margin-right: 7px;
    }

    .volume {
        scale trough highlight {
            background-color: $primary;
            padding: $highlightPaddingY 0;
            color: $onPrimary;
            border-radius: $highlightBorderRadius;
        }

        scale trough {
            all: unset;
            background-color: $surfaceContainerHighest;
            border-radius: $borderRadiusFull;
            min-width: 3rem;
            margin: $marginSm;
        }
    }

    .cava,
    .weather label,
    .cpu,
    .network {
        font-family: $sans, $nerd;
        margin: 0;
        padding: 0 $paddingLg;
        border-radius: $borderRadiusMd;
    }

    .volume,
    .clock {
        button {
            font-family: $sans, $nerd;
            margin: 0;
            padding: 0 $paddingLg;
            border-radius: $borderRadiusMd;
            &:hover {
                color: $onPrimary;
                background: $primary;
            }
        }
    }

    .action-row {
        background-color: $surfaceContainerHigh;
        border-radius: $borderRadiusMd;
        color: $onSurface;

        button {
            font-family: $sans, $nerd;
            border-radius: $borderRadiusMd;
            padding: 0 $paddingLg;
            margin: 0 0.5px;
            &:hover {
                color: $onPrimary;
                background: $primary;
            }
        }

        .caffeinated,
        .recording {
            color: $onSecondary;
            background: $secondary;
        }
    }

    .workspaces {
        font-family: $sans, $nerd;
        background-color: $surfaceContainerHigh;
        border-radius: $borderRadiusMd;
        .workspace {
            color: $onSurface;
            border-radius: $borderRadiusMd;
            padding: 0 $paddingLg;

            &-active {
                color: $onSecondary;
                background-color: $secondary;
            }

            &:hover {
                color: $onPrimary;
                background-color: $primary;
            }
        }
    }

    .player button {
        font-family: $sans, $nerd;
        padding: $paddingXs $paddingXl;
        border-radius: $borderRadiusMd;

        &:hover {
            color: $onPrimary;
            background-color: $primary;
        }
    }

    .systray {
        image {
            padding: 0 $paddingXs;
        }

        menu {
            background-color: $background;
            color: $onBackground;
            padding: $paddingXl;
            margin: $marginLg;
            border-radius: $borderRadiusLg;

            menuitem {
                padding: 2px 5px;
                border-radius: $borderRadiusSm;

                &:disabled label {
                    color: $outline;
                }

                &:hover {
                    color: $onPrimary;
                    background: $primary;
                }
            }

            separator {
                background-color: $outline;
                padding-top: 1px;
                margin: 2px 0;

                &:last-child {
                    padding: unset;
                }
            }
        }
    }

    .menu-button {
        font-family: $sans, $nerd;
        margin: 0;
        padding: 0 $paddingLg;
        border-radius: $borderRadiusMd;
        &:hover {
            color: $onPrimary;
            background: $primary;
        }
    }
}

$catppuccinGreen: #a6e3a1;
$catppuccinRed: #f38ba8;
$catppuccinMauve: #cba6f7;

.netspeed-graph-down {
    color: $catppuccinGreen;
    background: rgba($catppuccinGreen, 0.3);
}
.netspeed-graph-up {
    color: $catppuccinRed;
    background: rgba($catppuccinRed, 0.3);
}
.netspeed-graph-change {
    color: $catppuccinMauve;
    background: rgba($catppuccinMauve, 0.3);
}

.netspeed-ident-down {
    color: $catppuccinGreen;
}
.netspeed-ident-up {
    color: $catppuccinRed;
}
.netspeed-ident-total {
    color: $catppuccinMauve;
}
