@use "colors.scss" as *;
@use "icons.scss" as *;
@use "sass:color";

$nerd: "JetBrainsMono Nerd Font Propo";
$sans: "Noto Sans";

$bg: rgba($background, 0.2);

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: $bg;
}

$margin: 2rem;

button {
    background-color: $surfaceContainerHighest;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 0;
    border: none;
    color: $onBackground;
    margin: $margin 0;
    transition: all ease 200ms;
    &:focus {
        background-color: $secondaryContainer;
        color: $onSecondaryContainer;
        border: none;
        outline: none;
    }
    &:hover {
        background-color: $primaryContainer;
        color: $onPrimaryContainer;
        margin: 0;
        border-radius: 1rem;
    }
}

#lock {
    background-image: image(url($lock));
    border-radius: 1rem 0 0 1rem;
    &:hover {
        border-radius: 1rem;
    }
}
#logout {
    background-size: 65%;
    background-image: image(url($logout));
}
#reboot {
    background-image: image(url($reboot));
}
#shutdown {
    background-size: 55%;
    background-image: image(url($shutdown));
    border-radius: 0 1rem 1rem 0;
    &:hover {
        border-radius: 1rem;
    }
}
#suspend {
    background-size: 60%;
    background-image: image(url($suspend));
}
