.eww-calendar {
    background-color: $background;
    color: $onBackground;
    padding: 1rem;
    border-radius: 1rem;

    .title {
        font-size: 16px;
        font-weight: 700;
    }

    calendar.highlight {
        color: $onSurface;
        background-color: $surfaceContainer;
        border-radius: 0.5rem;
    }
    calendar:selected {
        background-color: $primary;
        color: $onPrimary;
        border-radius: 0.5rem;
    }
}
