@use "colors.scss" as *;

:root {
    --noti-bg-alpha: 1;
    --noti-bg: none;
    --noti-bg-darker: none;
    --noti-bg-hover: none;
    --noti-bg-focus: none;
    --text-color: none;
    --text-color-disabled: none;
    --bg-selected: none;
}

.control-center {
    margin: 1em;
    padding: 0.4em;
    border: 2px solid $outline;
    color: $onBackground;
    background-color: $background;
}

.notification {
    padding: 0.1em;
    border: 2px solid $outline;
    color: $onBackground;
    background-color: $background;

    &-default-action {
        color: $onBackground;
        background-color: $surface;
        &:hover {
            color: $onBackground;
            background-color: $surface;
        }
    }
}

image {
    border-radius: calc(1rem - 6px);
    margin: 0.1rem;
}

.close-button {
    border: none;
    color: $onPrimary;
    background-color: $primary;

    padding: 0.1rem;
    &:hover {
        color: $onError;
        background-color: $error;
    }
}

switch {
    border-radius: 2em;
    background-color: $background;
    border: 1px solid $primary;

    &:checked {
        background: $primaryContainer;
    }

    slider {
        box-shadow: none;
        border: none;
        background: $onPrimaryContainer;
    }
}

.text-box {
    margin: 0 1rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    border-radius: 2em;
    box-shadow: none;
    color: $onPrimary;
    background: $primary;
}

button {
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 2em;
    color: $onPrimaryContainer;
    background-color: $primaryContainer;
    &:hover {
        color: $onPrimary;
        background: $primary;
    }
}
